In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
# The code was removed by Watson Studio for sharing.

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

First, let's convert categorical variables to numerical variables:
*   fuel-type
*   aspiration

In [6]:
print(auto['fuel-type'].value_counts())

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [7]:
# we will get dummy numerical values and and store those in a dummy variable.
dummy_variable_1 = pd.get_dummies(auto['fuel-type'])
dummy_variable_1.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [8]:
# merge data frame "df" and "dummy_variable_1" using concat() function
auto = pd.concat([auto, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
auto.drop("fuel-type", axis = 1, inplace=True)

auto.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,diesel,gas
0,3,?,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,13495,0,1
1,3,?,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,16500,0,1
2,1,?,alfa-romero,std,two,hatchback,rwd,front,94.5,171.2,...,2.68,3.47,9.0,154,5000,19,26,16500,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,176.6,...,3.19,3.40,10.0,102,5500,24,30,13950,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,176.6,...,3.19,3.40,8.0,115,5500,18,22,17450,0,1

In [9]:
print(auto['aspiration'].value_counts())

std      168
turbo     37
Name: aspiration, dtype: int64

In [10]:
# we will get dummy numerical values and and store those in a dummy variable.
dummy_variable_2 = pd.get_dummies(auto['aspiration'])
dummy_variable_2.head()

   std  turbo
0    1      0
1    1      0
2    1      0
3    1      0
4    1      0

In [11]:
# merge data frame "df" and "dummy_variable_2" using concat() function
auto = pd.concat([auto, dummy_variable_2], axis=1)

# drop original column "aspiration" from "df"
auto.drop("aspiration", axis = 1, inplace=True)

auto.head()

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,diesel,gas,std,turbo
0,3,?,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,9.0,111,5000,21,27,13495,0,1,1,0
1,3,?,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,9.0,111,5000,21,27,16500,0,1,1,0
2,1,?,alfa-romero,two,hatchback,rwd,front,94.5,171.2,65.5,...,9.0,154,5000,19,26,16500,0,1,1,0
3,2,164,audi,four,sedan,fwd,front,99.8,176.6,66.2,...,10.0,102,5500,24,30,13950,0,1,1,0
4,2,164,audi,four,sedan,4wd,front,99.4,176.6,66.4,...,8.0,115,5500,18,22,17450,0,1,1,0

In [12]:
# to read properly, we will rename the columns std and turbo
auto.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)
auto.head()

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,diesel,gas,aspiration-std,aspiration-turbo
0,3,?,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,9.0,111,5000,21,27,13495,0,1,1,0
1,3,?,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,9.0,111,5000,21,27,16500,0,1,1,0
2,1,?,alfa-romero,two,hatchback,rwd,front,94.5,171.2,65.5,...,9.0,154,5000,19,26,16500,0,1,1,0
3,2,164,audi,four,sedan,fwd,front,99.8,176.6,66.2,...,10.0,102,5500,24,30,13950,0,1,1,0
4,2,164,audi,four,sedan,4wd,front,99.4,176.6,66.4,...,8.0,115,5500,18,22,17450,0,1,1,0

First of all, missing values are to be taken care of. For that, we will first find out missing value counts in different columns.

In [13]:
# to take care of missing values, we have already imported numpy library
# import numpy as np

# replace "?" to NaN
auto.replace("?", np.nan, inplace = True)
auto.head(5)

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,diesel,gas,aspiration-std,aspiration-turbo
0,3,NaN,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,9.0,111,5000,21,27,13495,0,1,1,0
1,3,NaN,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,9.0,111,5000,21,27,16500,0,1,1,0
2,1,NaN,alfa-romero,two,hatchback,rwd,front,94.5,171.2,65.5,...,9.0,154,5000,19,26,16500,0,1,1,0
3,2,164,audi,four,sedan,fwd,front,99.8,176.6,66.2,...,10.0,102,5500,24,30,13950,0,1,1,0
4,2,164,audi,four,sedan,4wd,front,99.4,176.6,66.4,...,8.0,115,5500,18,22,17450,0,1,1,0

In [14]:
# using isnull function, the entire dataset will be shown as boolean values, 
# null values will be shown as true
missing_data = auto.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,diesel,gas,aspiration-std,aspiration-turbo
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
# function to see the missing value counts in each columns
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

diesel
False    205
Name: diesel, dtype: int64

gas
False    205
Name: gas, dtype: int64

aspiration-std
False    205
Name: aspiration-std, dtype: int64

aspiration-turbo
False    205
Name: aspiration-turbo, dtype: int64

### Now we know that there are 7 columns having missing data and we need to deal with it by either replacing the data or by dropping the row.

Data to be replaced by mean:

*   normalized-losses
*   bore
*   stroke
*   horsepower
*   peak-rpm


Data to be replaced by frequency:
*   num-of-doors, as we have to find the pearson correlation, and values in this column are categorical values, we will ignore this column.


Rows to be dropped:
*   Row with null price value

In [16]:
#Mean value of normalized-losses column
avg_norm_loss = auto["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

#Mean value of bore column
avg_bore = auto["bore"].astype("float").mean(axis=0)
print("Average of bore:", avg_bore)

#Mean value of stroke column
avg_stroke = auto["stroke"].astype("float").mean(axis=0)
print("Average of stroke:", avg_stroke)

#Mean value of horsepower column
avg_horsepower = auto["horsepower"].astype("float").mean(axis=0)
print("Average of horsepower:", avg_horsepower)

#Mean value of peak-rpm column
avg_peak_rpm = auto["peak-rpm"].astype("float").mean(axis=0)
print("Average of peak-rpm:", avg_peak_rpm)

Average of normalized-losses: 122.0
Average of bore: 3.3297512437810957
Average of stroke: 3.2554228855721337
Average of horsepower: 104.25615763546799
Average of peak-rpm: 5125.369458128079

### Now, we will replace NaN value in 5 columns with their respective mean values

In [17]:
auto["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)
auto["bore"].replace(np.nan, avg_bore, inplace=True)
auto["stroke"].replace(np.nan, avg_stroke, inplace=True)
auto["horsepower"].replace(np.nan, avg_horsepower, inplace=True)
auto["peak-rpm"].replace(np.nan, avg_peak_rpm, inplace=True)

### Let's drop row having price null

In [18]:
# simply drop whole row with NaN in "price" column
auto.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
auto.reset_index(drop=True, inplace=True)

In [19]:
auto.dtypes

symboling              int64
normalized-losses     object
make                  object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
diesel                 int64
gas                    int64
aspiration-std         int64
aspiration-turbo       int64
dtype: object

### As we can see, some columns are having irrlevant datatypes, we will have to change them using astype() function.

In [20]:
auto[["bore", "stroke"]] = auto[["bore", "stroke"]].astype("float")
auto[["normalized-losses"]] = auto[["normalized-losses"]].astype("int")
auto[["price"]] = auto[["price"]].astype("float")
auto[["peak-rpm"]] = auto[["peak-rpm"]].astype("float")
auto[["diesel", "gas", "aspiration-std", "aspiration-turbo"]] = auto[["diesel", "gas", "aspiration-std", "aspiration-turbo"]].astype("int64")

In [21]:
auto.dtypes

symboling              int64
normalized-losses      int64
make                  object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
diesel                 int64
gas                    int64
aspiration-std         int64
aspiration-turbo       int64
dtype: object

### Now, lets find the values of Pearson Correlation of "price" column with other columns

In [22]:
# import library to find the value of Pearson Correlation
from scipy import stats

In [29]:
cor = auto.corr()['price']
cor

symboling           -0.082391
normalized-losses    0.133999
wheel-base           0.584642
length               0.690628
width                0.751265
height               0.135486
curb-weight          0.834415
engine-size          0.872335
bore                 0.543155
stroke               0.082269
compression-ratio    0.071107
peak-rpm            -0.101616
city-mpg            -0.686571
highway-mpg         -0.704692
price                1.000000
diesel               0.110326
gas                 -0.110326
aspiration-std      -0.179578
aspiration-turbo     0.179578
Name: price, dtype: float64

In [71]:
col1 = cor.index.tolist()
col1

['symboling',
 'normalized-losses',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-size',
 'bore',
 'stroke',
 'compression-ratio',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price',
 'diesel',
 'gas',
 'aspiration-std',
 'aspiration-turbo']

In [73]:
col2 = cor.index[cor.between(-0.6,0.6, inclusive = True)].tolist()
col2

['symboling',
 'normalized-losses',
 'wheel-base',
 'height',
 'bore',
 'stroke',
 'compression-ratio',
 'peak-rpm',
 'diesel',
 'gas',
 'aspiration-std',
 'aspiration-turbo']

In [75]:
col = list(set(col1)^set(col2))
col

['city-mpg',
 'engine-size',
 'curb-weight',
 'price',
 'highway-mpg',
 'length',
 'width']

### Finally, we got the columns having the strong Pearson Correlation with the column "price"